path/file filter=lfs diff=lfs merge=lfs -text
C:/Users/Santiago[[:space:]]Carrillo/Documents/GitHub/Webpage-for-Data-Visualization/data/Ventas_profit.csv filter=lfs diff=lfs merge=lfs -text
C:/Users/Santiago[[:space:]]Carrillo/Documents/GitHub/Webpage-for-Data-Visualization/data/Ventas_profit.csv filter=lfs diff=lfs merge=lfs -text
